<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board_Comment">
    <insert id="save" parameterType="board_comment">
        insert into Member_post(commentWriter, commentContents,boardId)
            values (#{commentWriter}, #{commentContents},#{boardId})
    </insert>
    <select id="findAll" parameterType="Long" resultType="board_comment">
--         select id, commentWriter, commentContents,
--                date_format(createdAt, "%y-%m-%d %H:%i:%s") as createdAt, boardId
--            from Member_post where boardId = #{boardId} order by id desc
            select * from Member_post
    </select>
</mapper>









